{% extends "layouts/main_path2.html" %}

{% block pageTitle %}
  What is the name and address of your GP practice? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

      <!-- Notification banner for fraud flags -->

      <!-- {% set html %}

        <h3 class="govuk-notification-banner__heading">
          ID at Risk fraud flag found
        </h3>

        <p class="govuk-body">Do not use these KBV questions</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>Bank or building society information</li>
          <li>Current employment detail</li>
        </ul>

      {% endset %}

      {{ govukNotificationBanner({
        html: html
      }) }}-->

      <span class="govuk-caption-l">Question 3 </span>
      <h1 class="govuk-heading-l">
        What is the name and address of your GP practice?
      </h1>
      <p class="govuk-body">Check the answer the customer gives matches one of the answers below.</p>


      {{ govukSummaryList({
        card: {
          title: {
            text: "Customer data held in buiness systems"
          }
        },
        rows: [
          {
            key: {
              text: "Your doctor"
            },
            value: {
              html: "Dr Smith"
            }
          },
          {
            key: {
              text: "Surgery name"
            },
            value: {
              html: "Weatherfield GP Practice"
            }
          },
          {
            key: {
              text: "Surgery address"
            },
            value: {
              html: "Coronation Street Weatherfield, Greater Manchester M1 1MM"
            }
          }
        ]
      }) }}

    <form class="form" action="/kbv-answer/identity-verified-timeline" method="post">

    {{ govukRadios({
      name: "verify",
      value: data['verify'],
      fieldset: {
        legend: {
          text: "Did the customer answer the question correctly?",
          isPageHeading: false,
          classes: "govuk-fieldset__legend--m"
        }
      },
      items: [
        {
          value: "yes",
          text: "Yes"
        },
        {
          value: "no",
          text: "No"
        }
      ]
    }) }}

    {{ govukButton({
      text: "Continue"
    }) }}

  </form>

      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            If you cannot complete this task
          </span>
        </summary>
        <div class="govuk-details__text">
          Content to support and advise the agent would go here.
        </div>
      </details>


      </div>

      <div class="govuk-grid-column-one-quarter">

        <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
          <h2 class="govuk-heading-m" id="subsection-title">
            KBV progress
          </h2>
          <div class="govuk-!-padding-bottom-1"></div>
          <div class="dwp-timeline">
            <ol class="dwp-timeline__items">
              <li class="dwp-timeline__item">
                <h2 class="dwp-timeline__heading">Question 1</h2>
                <p class="dwp-timeline__datetime">CIS Searchlight</p>
                <strong class="govuk-tag govuk-tag--red">Failed</strong>
              </li>
              <div class="govuk-!-padding-bottom-1"></div>
              <li class="dwp-timeline__item">
                <h2 class="dwp-timeline__heading">Question 2</h2>
                <p class="dwp-timeline__datetime">Legacy</p>
                <strong class="govuk-tag govuk-tag--green">Correct</strong>
              </li>
              <div class="govuk-!-padding-bottom-1"></div>
              <li class="dwp-timeline__item">
                <h2 class="dwp-timeline__heading">Question 3</h2>
                <p class="dwp-timeline__datetime">Business specific</p>
                <strong class="govuk-tag govuk-tag--blue">In progress</strong>
              </li>
            </ol>
          </div>
        </aside>
      </div>
    </div>

  {% endblock %}
