//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
//

// Add extra styles here
.custom-red-panel {
  background-color: #d4351c;
  color: white;
 }

 .colour-blue {
     border-color: #1d70b8;
   }

 .colour-white {
     border-color: #ffffff;
  }

 .govuk-panel--interruption {
  background-color: #1a65a6;
  text-align: left;
  border: none;
}

.govuk-panel--interruption2 {
 background-color: #ca3535;
 text-align: left;
 border: none;
}

.govuk-panel--alert {
 background-color: none;
 text-align: left;
 border-width: thick;
 border-color: #ca3535;
}

.white-text {
  color: white;
}
