//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
//

// Add extra styles here
.custom-red-panel {
  background-color: #d4351c;
  color: white;
 }

 .colour-blue {
     border-color: #1d70b8;
   }
