{% extends "layouts/main_path1.html" %}

{% block pageTitle %}
  You need to match the customer to their DWP record – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">Establish identity</span>
      <h1 class="govuk-heading-l">
        You need to match the customer to their DWP record
      </h1>

      <p>
        Before you can verify the claimant's identity (ID), you need to establish their identity by matching them to their DWP claimant record.
      </p>

      <p>
        To do this, you should ask:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>What is your last name?</li>
        <li>What is your first name?</li>
        <li>What is your National Insurance number?</li>
      </ul>

      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Additional questions available
          </span>
        </summary>
        <div class="govuk-details__text">
          <ul class="govuk-list govuk-list--bullet">
            <li>What is your home telephone number?</li>
            <li>What is your mobile telephone number?</li>
            <li>What is your email address?</li>
          </ul>
        </div>
      </details>

      <form class="form" action="/establish-answer" method="post">

      {{ govukRadios({
        name: "matched",
        value: data['matched'],
        fieldset: {
          legend: {
            text: "Have you matched the customer to their DWP record?",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
          {
            value: "yes",
            text: "Yes"
          },
          {
            value: "no",
            text: "No"
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

      </form>

    </div>
  </div>

      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            If you cannot complete this task
          </span>
        </summary>
        <div class="govuk-details__text">
          Content to support and advise the agent would go here.
        </div>
      </details>

{% endblock %}
