{% extends "layouts/main_path1.html" %}

{% block pageTitle %}
  Fraud check – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">Step 2</span>
      <h1 class="govuk-heading-l">
        Fraud check
      </h1>

      <p>
        A fraud check must be completed:
      </p>

        <ul class="govuk-list govuk-list--bullet">
          <li>during customer contact </li>
          <li>during claim processing </li>
          <li>before claim completion, or </li>
          <li>before any payment impact.</li>
        </ul>

        <h2 class="govuk-heading-m">
          Action
        </h2>

        <p>
          You must preview the claimant’s personal details in CIS Searchlight for the following fraud indicators:
        </p>

        <h2 class="govuk-heading-m">
          Action - Check date of death held
        </h2>
          <ul class="govuk-list govuk-list--bullet">
            <li>where identity verification (IDV) is passed you must investigate whether the date of death has been incorrectly recorded on CIS Searchlight, learn about Part 2 - General and Specialist Procedures </li>
            <li>where IDV is not passed you must complete a fraud referral</li>
          </ul>

        <h2 class="govuk-heading-m">
          You must make sure the claimed identity is not:
        </h2>

          <ul class="govuk-list govuk-list--bullet">
            <li>at a higher risk than usual of identity fraud </li>
            <li>suspected to be a synthetic or made-up identity. </li>
          </ul>

      <p>
        Where an ID @ Risk Flag is held in CIS, take specific action detailed within the <a href="#">Knowledge based verification questions</a> guidance to verify the customers identity.
      </p>

      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-visually-hidden">Warning</span>
          Make sure you are confident you have completed an effective fraud check before continuing to the next step.
        </strong>
      </div>

      {{ govukButton({
        text: "Continue",
        href: "verify-identity"
      }) }}

    </div>
  </div>

{% endblock %}
