{% extends "layouts/main_path1.html" %}

{% block pageTitle %}
  Customer identity not verfied – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation custom-blue-panel">
       <h1 class="govuk-panel__title">
        Customer identity not verified
       </h1>
      </div>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--invisible">

      <h2 class="govuk-heading-m">
        The IDV check has not been completed
      </h2>

      <p>
        The customer has not been able to verify their identity. You should record the outcome of this identity check in the relevant service line system.
      </p>

      <h2 class="govuk-heading-m">
        What to do next
      </h2>

      <p>
        As the customer has failed the IDV check, you must:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>tell the customer that you are ending the call, <strong>and</strong></li>
        <li>ask the customer to call back when they have access to the correct information, <strong>or</strong></li>
        <li>give the customer the option to write in and make sure they have the correct address if they do not wish to call back.</li>
      </ul>

      <p>
        Customers have two separate attempts to pass the IDV check. If they fail on the second attempt, seek advice from your team leader.
      </p>

      <h2 class="govuk-heading-m">
        If this is their second failed IDV check
      </h2>

      <p>
        You must record this outcome in the relevant service line system.
      </p>

      <p class="govuk-body">A bogus call report must be considered and sent as appropriate to the relevant security group inbox. Find out more about
        <a href="#" class="govuk-link" rel="noreferrer noopener" target="_blank">link text (opens in new tab)</a>
      </p>

      <p class="govuk-body">You should use your judgement to decide whether any alternative arrangementscan be made, for example:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>an outbound call</li>
        <li>face to face, for example a visit or a check at the office</li>
        <li>requests for documents to be sent by post</li>
      </ul>

      <div class="govuk-inset-text">
        If you are inactive for more than 2 minutes, this page will time out and return to the start of the IDV process.
      </div>

      {% from "govuk/components/button/macro.njk" import govukButton %}

      {{ govukButton({
        text: "Finish IDV check and return to start",
        href: "start"

      }) }}

      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            If you need more help advising this customer
          </span>
        </summary>
        <div class="govuk-details__text">
          Content to support and advise the agent would go here.
        </div>
      </details>

    </div>
  </div>

{% endblock %}
