{% extends "layouts/main_path2b.html" %}

{% block pageTitle %}
  Ask the customer knowledge-based verification questions – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">

    <h1 class="govuk-heading-l">
      Now I need to ask you some security questions
    </h1>
    {# Page heading explaining the purpose of the task #}

    <div class="govuk-inset-text colour-blue"><p>
    The customer must correctly answer 2 of 3 knowledge based verification (KBV) questions. The questions will be based on information we hold about the customer. </p><p>You will need to confirm whether the answer they give is correct.</p>
    </div>

    {{ govukButton({
      text: "Continue",
      href: "/ur-r2/kbv-answer/another-benefit-you-have-previously-applied-for"
    }) }}
    {# GOV.UK styled button that links to the next KBV question #}

    <p class="govuk-body">
        <a href="kbv-start-flag-found" class="govuk-link">Return to flag found page</a>
    </p>

  </div>

  <!--

  <div class="govuk-grid-column-one-quarter">

    <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary" aria-labelledby="subsection-title">
      <h2 class="govuk-heading-m" id="subsection-title">
        KBV progress
      </h2>

      <div class="govuk-!-padding-bottom-1"></div>

      <div class="dwp-timeline">
        <ol class="dwp-timeline__items">
          <li class="dwp-timeline__item">
            <h3 class="dwp-timeline__heading">Question 1</h3>
            <p class="dwp-timeline__datetime">CIS Searchlight</p>
            <strong class="govuk-tag govuk-tag--grey">Not asked</strong>
          </li>

          <div class="govuk-!-padding-bottom-1"></div>

          <li class="dwp-timeline__item">
            <h3 class="dwp-timeline__heading">Question 2</h3>
            <p class="dwp-timeline__datetime">Legacy</p>
            <strong class="govuk-tag govuk-tag--grey">Not asked</strong>
          </li>

          <div class="govuk-!-padding-bottom-1"></div>

          <li class="dwp-timeline__item">
            <h3 class="dwp-timeline__heading">Question 3</h3>
            <p class="dwp-timeline__datetime">Business specific</p>
            <strong class="govuk-tag govuk-tag--grey">Not asked</strong>
          </li>
        </ol>
      </div>
    </aside>

  </div>
</div>

-->

{% endblock %}
