{% extends "layouts/main_path2b.html" %}

{% block pageTitle %}
  What is your mobile telephone number? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

      <!-- Notification banner for fraud flags -->

      <!-- {% set html %}

        <h3 class="govuk-notification-banner__heading">
          ID at Risk fraud flag found
        </h3>

        <p class="govuk-body">Do not use these KBV questions</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>Bank or building society information</li>
          <li>Current employment detail</li>
        </ul>

      {% endset %}

      {{ govukNotificationBanner({
        html: html
      }) }}-->

      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <span class="govuk-caption-l">Question 3</span>
        <h1 class="govuk-fieldset__heading">What is your mobile telephone number?</h1>
        <span class="govuk-hint">For example, 07700 900000 or +44 7700 900999.</span>
      </legend>


      {{ govukSummaryList({
        card: {
          title: {
            text: "Customer data held in Legacy systems"
          }
        },
        rows: [
          {
            key: {
              text: "Mobile number"
            },
            value: {
              html: "07123 456789"
            }
          }
        ]
      }) }}

    <form class="form" action="/mobile-show-r3" method="post">

      {{ govukRadios({
        name: "mobileshow",
        value: data['mobileshow'],
        fieldset: {
          legend: {
            text: "Did the customer answer the question correctly?",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
          {
            value: "yes",
            text: "Yes"
          },
          {
            value: "no",
            text: "No"
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

</div>

    <!--

    <div class="govuk-grid-column-one-quarter">

      <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          KBV progress
        </h2>
        <div class="govuk-!-padding-bottom-1"></div>
        <div class="dwp-timeline">
          <ol class="dwp-timeline__items">
            <li class="dwp-timeline__item">
              <h2 class="dwp-timeline__heading">Question 1</h2>
              <p class="dwp-timeline__datetime">CIS Searchlight</p>
              <strong class="govuk-tag govuk-tag--red">Failed</strong>
            </li>
            <div class="govuk-!-padding-bottom-1"></div>
            <li class="dwp-timeline__item">
              <h2 class="dwp-timeline__heading">Question 2</h2>
              <p class="dwp-timeline__datetime">Legacy</p>
              <strong class="govuk-tag govuk-tag--blue">In progress</strong>
            </li>
            <div class="govuk-!-padding-bottom-1"></div>
            <li class="dwp-timeline__item">
              <h2 class="dwp-timeline__heading">Question 3</h2>
              <p class="dwp-timeline__datetime">Business specific</p>
              <strong class="govuk-tag govuk-tag--grey">Not asked</strong>
            </li>
          </ol>
        </div>
      </aside>
    </div>
  </div>

  -->

{% endblock %}
