{% extends "layouts/main_matching.html" %}

{% block pageTitle %}
  Try to search for your customer record another way – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

      <h1 class="govuk-heading-l">
        I will try to search for your customer record another way
      </h1>

      <div class="govuk-inset-text colour-blue">

        <h2 class="govuk-heading-m">
          What you should do next
        </h2>
          <ul class="govuk-list govuk-list--number">
            <li>Use the DWP Person Trace on Searchlight to find the customer record</li>
            <li>Come back to the Identity Checker and enter the customer's National Insurance number</li>
          </ul>
      </div>

      {{ govukButton({
        text: "Reset Identity Checker",
        href: "establish-your-identity-nino"
      }) }}

</div>

{% endblock %}
