{% extends "layouts/main_idv.html" %}

{% block pageTitle %}
  When did you receive your last payment? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

      <form class="form" action="/ur-r5/flag/when-did-you-receive-your-last-pension-payment" method="post">

      <div class="govuk-form-group">
      <span class="govuk-caption-l">Question 2</span>
      <fieldset class="govuk-fieldset" role="group" aria-describedby="pension-received-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
            When did you receive your last payment?
          </h1>
        </legend>
        <div id="pension-received-hint" class="govuk-hint">
          You can find this on your bank statement. For example 27 3 2020.
        </div>
        <div class="govuk-date-input" id="pension-received">
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-date-input__label" for="pension-received-day">
                Day
              </label>
              <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="pension-received-day" name="pension-received-day" type="text" inputmode="numeric" autocomplete="off">
            </div>
          </div>
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-date-input__label" for="pension-received-month">
                Month
              </label>
              <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="pension-received-month" name="pension-received-month" type="text" inputmode="numeric" autocomplete="off">
            </div>
          </div>
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-date-input__label" for="pension-received-year">
                Year
              </label>
              <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="pension-received-year" name="pension-received-year" type="text" inputmode="numeric" autocomplete="off">
            </div>
          </div>
        </div>
      </fieldset>
    </div>

    <div class="govuk-button-group">
      <button type="submit" class="govuk-button" data-module="govuk-button">
        Continue
      </button>
      <a class="govuk-link" href="what-is-your-mobile-telephone-number">Customer cannot answer question</a>
    </div>

</form>


</div>


{% endblock %}
