{% extends "v6-1/layouts/main_matching.html" %}

{% block pageTitle %}
  I have found your customer record – {{ serviceName }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

      <h1 class="govuk-heading-l">
        I have found your customer record
      </h1>

      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m">Personal details</caption>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Name</th>
            <td class="govuk-table__cell">{{ data['customerName'] or "Albus Dumbledore" }}</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">National Insurance number</th>
            <td class="govuk-table__cell">{{ data['nationalinsurancenumberFormatted'] or "QQ 12 34 56 C" }}</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Date of birth</th>
            <td class="govuk-table__cell">{{ data['customerDob'] or "5 January 1978" }}</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Postcode</th>
            <td class="govuk-table__cell">{{ data['customerPostcode'] or "PE1 6AN" }}</td>
          </tr>
        </tbody>
      </table>

    {{ govukButton({
      text: "Continue",
      href: "/v6-1/establish-identity/route-from-found"
    }) }}

</div>

{% endblock %}
