{% extends "v6-1/layouts/main_matching.html" %}
{% set hideEndSession = true %}

{% block pageTitle %}
  What is your National Insurance number – {{ serviceName }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="/v6-1/establish-identity/what-is-your-national-insurance-number" method="post" class="form">

      <fieldset class="govuk-fieldset" aria-describedby="national-insurance-number-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
            What is your National Insurance number?
          </h1>
        </legend>

        <div class="govuk-form-group">
          <label class="govuk-label govuk-visually-hidden" for="national-insurance-number">
            What is your National Insurance number?
          </label>

          <div id="national-insurance-number-hint" class="govuk-hint">
            It’s on your National Insurance card, benefit letter, payslip or P60 – for example, 'QQ 12 34 56 C'.
          </div>

          <input
          <input
            class="govuk-input govuk-input--width-10 govuk-input--extra-letter-spacing"
            id="national-insurance-number"
            name="nationalinsurancenumber"
            type="text"
            value="{{ data['nationalinsurancenumber'] }}"
            autocomplete="off"
            spellcheck="false"
            aria-describedby="national-insurance-number-hint">
        </div>
      </fieldset>

      {{ govukButton({
        text: "Search for customer record"
      }) }}

      </form>

    <p class="govuk-body">
      <a href="search-for-your-details" class="govuk-link">
        Search without a National Insurance number
      </a>
    </p>
<!--
    <div class="govuk-grid-row grey-row">
      <div class="govuk-grid-column-full">
        <p class="govuk-body">
          <strong>Use guide</strong>
        </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            Standard IDV path - QQ 12 34 56 C
          </li>
          <li>
            Fraud flag found - QQ 44 44 44 C
          </li>
          <li>
            No KBVs available - QQ 33 33 33 C
          </li>
          <li>
            No match path - Any other nino
          </li>
        </ul>
      </div>
    </div>
-->
  </div>
</div>

{% endblock %}
