{% extends "layouts/main_path2b.html" %}

{% block pageTitle %}
  Name another benefit you have previously applied for? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

      <!-- Notification banner for fraud flags -->

      <!-- {% set html %}

        <h3 class="govuk-notification-banner__heading">
          ID at Risk fraud flag found
        </h3>

        <p class="govuk-body">Do not use these KBV questions</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>Bank or building society information</li>
          <li>Current employment detail</li>
        </ul>

      {% endset %}

      {{ govukNotificationBanner({
        html: html
      }) }}-->

      <!-- `form tag for radios` -->

  <!--<form class="form" action="/another-benefit-you-have-previously-applied-for" method="post">-->

      <div class="govuk-form-group">
        <span class="govuk-caption-l">Question 1</span>
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Name another benefit you have previously applied for?
            </h1>
          </legend>
          <div id="another-benefit-hint" class="govuk-hint">
            You do not have to have been paid the benefit.
          </div>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="anotherBenefit" name="anotherBenefit" type="radio" value="job-seekers-allowance">
              <label class="govuk-label govuk-radios__label" for="anotherBenefit">
                Jobseeker's Allowance (JSA)
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="anotherBenefit-2" name="anotherBenefit" type="radio" value="tax-credits">
              <label class="govuk-label govuk-radios__label" for="anotherBenefit-2">
                Tax Credits
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="anotherBenefit-3" name="anotherBenefit" type="radio" value="universal-credit">
              <label class="govuk-label govuk-radios__label" for="anotherBenefit-3">
                Universal Credit (UC)
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="anotherBenefit-4" name="anotherBenefit" type="radio" value="personal-independence-payment">
              <label class="govuk-label govuk-radios__label" for="anotherBenefit-4">
                Personal Independence Payment (PIP)
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="anotherBenefit-5" name="anotherBenefit" type="radio" value="employment-support-allowance">
              <label class="govuk-label govuk-radios__label" for="anotherBenefit-5">
                Employment and Support Allowance (ESA)
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="anotherBenefit-6" name="anotherBenefit" type="radio" value="income-spport">
              <label class="govuk-label govuk-radios__label" for="anotherBenefit-6">
                Income Support
              </label>
            </div>
          </div>
        </fieldset>
      </div>

    {{ govukButton({
      text: "Continue",
      href: '/ur-r4/kbv-no-answer/happy-path/when-did-you-receive-your-last-pension-payment'
    }) }}
<!--</form>-->

    </div>

    <!-- `right sidebar` -->

<!--
    <div class="govuk-grid-column-one-quarter">

      <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          KBV progress
        </h2>
        <div class="govuk-!-padding-bottom-1"></div>
        <div class="dwp-timeline">
          <ol class="dwp-timeline__items">
            <li class="dwp-timeline__item">
              <h2 class="dwp-timeline__heading">Question 1</h2>
              <p class="dwp-timeline__datetime">CIS Searchlight</p>
              <strong class="govuk-tag govuk-tag--blue">In progress</strong>
            </li>
            <div class="govuk-!-padding-bottom-1"></div>
            <li class="dwp-timeline__item">
              <h2 class="dwp-timeline__heading">Question 2</h2>
              <p class="dwp-timeline__datetime">Legacy</p>
              <strong class="govuk-tag govuk-tag--grey">Not asked</strong>
            </li>
            <div class="govuk-!-padding-bottom-1"></div>
            <li class="dwp-timeline__item">
              <h2 class="dwp-timeline__heading">Question 3</h2>
              <p class="dwp-timeline__datetime">Business specific</p>
              <strong class="govuk-tag govuk-tag--grey">Not asked</strong>
            </li>
          </ol>
        </div>
      </aside>
    </div>
  </div>

-->

{% endblock %}
