{% extends "layouts/main_path2b.html" %}

{% block pageTitle %}
  Identity verified – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">

    <h1 class="govuk-heading-l">
      You have passed the security questions and I can now look into your request
    </h1>
    {# Page heading explaining the purpose of the task #}

    <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-visually-hidden">Warning</span>
        Date of death on customer record.
      </strong>
    </div>

    <div class="govuk-inset-text colour-blue">
      <h2 class="govuk-heading-s">
        What you should do next
      </h2>
      <ol class="govuk-list govuk-list--number">
        <li> Check your service line instructions before processing the customer's request. </li>
        <li> Do not tell the customer about the identity at risk flag.</li>
      </ol>
    </div>

    {% from "govuk/components/button/macro.njk" import govukButton %}

    {{ govukButton({
      text: "Close Identity Checker",
      href: "/ur-r4/kbv-no-answer/establish-your-identity-nino"
    }) }}

  </div>

  <!-- `right sidebar` -->

<!--

  <div class="govuk-grid-column-one-quarter">

    <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary" aria-labelledby="subsection-title">
      <h2 class="govuk-heading-m" id="subsection-title">
        KBV progress
      </h2>

      <div class="govuk-!-padding-bottom-1"></div>

      <div class="dwp-timeline">
        <ol class="dwp-timeline__items">
          <li class="dwp-timeline__item">
            <h3 class="dwp-timeline__heading">Question 1</h3>
            <p class="dwp-timeline__datetime">CIS Searchlight</p>
            <strong class="govuk-tag govuk-tag--red">Failed</strong>
          </li>

          <div class="govuk-!-padding-bottom-1"></div>

          <li class="dwp-timeline__item">
            <h3 class="dwp-timeline__heading">Question 2</h3>
            <p class="dwp-timeline__datetime">Legacy</p>
            <strong class="govuk-tag govuk-tag--green">Correct</strong>
          </li>

          <div class="govuk-!-padding-bottom-1"></div>

          <li class="dwp-timeline__item">
            <h3 class="dwp-timeline__heading">Question 3</h3>
            <p class="dwp-timeline__datetime">Business specific</p>
            <strong class="govuk-tag govuk-tag--green">Correct</strong>
          </li>
        </ol>
      </div>
    </aside>

  </div>
</div>

-->

{% endblock %}
