{% extends "layouts/main_idv_quick_reference_end_nokbv.html" %}

{% block pageTitle %}
  Identity verified – {{ serviceName }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">

    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">
        You have proved your identity
      </h1>
    </div>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--invisible">

    <h2 class="govuk-heading-m">
      The identity check is complete
    </h2>

    <p>
      I can now continue with your request.
    </p>

    {% from "govuk/components/button/macro.njk" import govukButton %}

    {{ govukButton({
      text: "Reset Identity Checker",
      href: "establish-your-identity-nino"
    }) }}

  </div>
</div>

{% endblock %}
