{% extends "v7/layouts/main_idv_quick_reference_rep.html" %}
{% set hideEndSession = true %}

{% block pageTitle %}
  Can you confirm your representative type – {{ serviceName }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <!-- <form action="/v7/representative/what-type-of-representative-are-you" method="post"> -->

      <div class="govuk-form-group">

        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Can you confirm your representative type?
            </h1>
          </legend>

          <div class="govuk-radios" data-module="govuk-radios">

            <div class="govuk-radios__item">
              <input
                class="govuk-radios__input"
                id="representative-type-dwpappointee"
                name="representativeType"
                type="radio"
                value="dwpappointee"
                aria-describedby="representative-type-pab-hint">
              <label class="govuk-label govuk-radios__label" for="representative-type-dwpappointee">
                DWP Appointee
              </label>
              <div id="representative-type-pab-hint" class="govuk-hint govuk-radios__hint">
              They have been appointed by DWP to act on behalf of the customer
            </div>
            </div>

            <div class="govuk-radios__item">
              <input
                class="govuk-radios__input"
                id="representative-type-otherpab"
                name="representativeType"
                type="radio"
                value="otherpab"
                aria-describedby="representative-type-otherpab-hint">
              <label class="govuk-label govuk-radios__label" for="representative-type-otherpab">
                Other Personal Acting Body (PAB)
              </label>
              <div id="representative-type-cab-hint" class="govuk-hint govuk-radios__hint">
              This could be a Power of Attorney (POA), Deputy or Guardian
            </div>
            </div>

            <div class="govuk-radios__item">
              <input
                class="govuk-radios__input"
                id="representative-type-cab"
                name="representativeType"
                type="radio"
                value="cab"
                aria-describedby="representative-type-cab-hint">
              <label class="govuk-label govuk-radios__label" for="representative-type-cab">
                Corporate Acting Body (CAB)
              </label>
              <div id="representative-type-cab-hint" class="govuk-hint govuk-radios__hint">
              This could be a solicitor, nursing home, Local Authority, Police, hospital and more
            </div>
            </div>

            <div class="govuk-radios__item">
              <input
                class="govuk-radios__input"
                id="representative-type-dont-know"
                name="representativeType"
                type="radio"
                value="dont-know">
              <label class="govuk-label govuk-radios__label" for="representative-type-dont-know">
                I do not know
              </label>
            </div>

          </div>

        </fieldset>

      </div>

      {{ govukButton({
        text: "Continue"
      }) }}

  <!--  </form> -->

  </div>
</div>

{% endblock %}
