{% extends "layouts/main.html" %}

{% block pageTitle %}
  Design problems – {{ serviceName }}
{% endblock %}

{% block content %}

<h1 class="govuk-heading-xl">Identity Checker</h1>

<div class="govuk-service-navigation"
data-module="govuk-service-navigation">
<div class="govuk-width-container">
  <div class="govuk-service-navigation__container">
    <nav aria-label="Menu" class="govuk-service-navigation__wrapper">
      <button type="button" class="govuk-service-navigation__toggle govuk-js-service-navigation-toggle" aria-controls="navigation" hidden aria-hidden="true">
        Menu
      </button>
<ul class="govuk-service-navigation__list" id="navigation">
  <li class="govuk-service-navigation__item">
<a class="govuk-service-navigation__link" href="index">
  Home
</a>
</li>
<li class="govuk-service-navigation__item">
<a class="govuk-service-navigation__link" href="iterations">
  Previous iterations
</a>
</li>
<li class="govuk-service-navigation__item">
<a class="govuk-service-navigation__link" href="error-designs">
  Error designs
</a>
</li>
<li class="govuk-service-navigation__item govuk-service-navigation__item--active">
<a class="govuk-service-navigation__link" href="design-problems">
  Design problems
</a>
</li>
<li class="govuk-service-navigation__item">
<a class="govuk-service-navigation__link" href="dev-ready">
  Dev ready
</a>
</li>
<li class="govuk-service-navigation__item">
<a class="govuk-service-navigation__link" href="archived-designs">
  Archived
</a>
</li>
      </ul>
    </nav>
  </div>
</div>
</div>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--invisible">

<h2 class="govuk-heading-l">Design problems</h2>

<p class="govuk-body">
  These are design problems we are currently still working on to find the best solution. These issue won't stop us going into private beta where we will find out more, but work is continually ongoing.
</p>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

  <h2 class="govuk-heading-m">Fraud marker notifications</h2>

<p class="govuk-body">
We know there is more work to do in how we surface fraud markers on a customer record to an agent while using Identity Checker. While we have a proposed solution in our tool as of now, but we acknowledged that we may well have to revisit this again.
</p>

<p class="govuk-body">
We are collaborating with other teams including Colleague View and One View to discuss our separate approaches to the notification problem, see where our needs overlapped and if we could collaborate in the future to develop a common approach with the blessing of the DWP Design Team. We chatted about the possibility of a new component meeting this future need.
</p>

<p class="govuk-body"><strong>Canident banners for Identity Checker fraud flags:<p></strong>

  <p class="govuk-body">We initially tried variations on the standard GDS blue notification banner, then moved to the warning text component then pivoted back to the original blue banner. But after most agents in UR stating a red version would be more effective we opted for this which also aligned with Colleague Views approach.<p>

  <ul class="govuk-list govuk-list--bullet">
     <li><a href="/v6/fraud-flags/counter-fraud-flag-found-red" class="govuk-link" target="_self">Red notification banner</a></li>
     <li><a href="/v6/fraud-flags/counter-fraud-flag-found-multiple" class="govuk-link" target="_self">Red notification banner for multiple flags</a></li>
     <li><a href="/ur-r5/flag/alternate/counter-fraud-flag-found-blue" class="govuk-link" target="_self">Original blue notification banner</a></li>
  </ul>

  <p class="govuk-body"><strong>See Confluence for design debt details:<p></strong>

  <p class="govuk-body">
  <a class="govuk-service-navigation__link" href="https://dwpdigital.atlassian.net/wiki/spaces/IDNT/pages/134230908238/Fraud+notification+banner">
    Fraud marker notification design debt
  </a>
  </p>


<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

  <h2 class="govuk-heading-m">Customer details banner</h2>

<p class="govuk-body">
  The design team are aware that the ‘Key Details’ customer banner used in the Identity Checker prototype has been retired and the advice is to replace with the new ‘Quick reference’ component.
We did feel the blue Key details banner provided an effective way to communication minimal customer details while effectively separating the header from the main content.
</p>

<p class="govuk-body">
Recently we have conducted some work incorporating the new component into the latest prototype with custom styling making it resemble the former.
</p>

<p class="govuk-body">
Similar to the fraud banner there will be ongoing collaboration work and if needed we will pivot to a different solution if wider consistancy demands.
</p>

<p class="govuk-body">
<a class="govuk-service-navigation__link" href="https://dwpdigital.atlassian.net/wiki/spaces/IDNT/pages/134231525639/Customer+banner">
  Customer banner design debt
</a>
</p>

{% endblock %}
