{% extends "layouts/main.html" %}

{% block pageTitle %}
  Error designs – {{ serviceName }}
{% endblock %}

{% block content %}

<h1 class="govuk-heading-xl">Identity Checker</h1>

<div class="govuk-service-navigation"
data-module="govuk-service-navigation">
<div class="govuk-width-container">
  <div class="govuk-service-navigation__container">
    <nav aria-label="Menu" class="govuk-service-navigation__wrapper">
      <button type="button" class="govuk-service-navigation__toggle govuk-js-service-navigation-toggle" aria-controls="navigation" hidden aria-hidden="true">
        Menu
      </button>
<ul class="govuk-service-navigation__list" id="navigation">
  <li class="govuk-service-navigation__item">
<a class="govuk-service-navigation__link" href="index">
  Home
</a>
</li>
<li class="govuk-service-navigation__item">
<a class="govuk-service-navigation__link" href="iterations">
  Previous iterations
</a>
</li>
<li class="govuk-service-navigation__item govuk-service-navigation__item--active">
<a class="govuk-service-navigation__link" href="">
  Error designs
</a>
</li>
<li class="govuk-service-navigation__item">
<a class="govuk-service-navigation__link" href="design-problems">
  Design problems
</a>
</li>
<li class="govuk-service-navigation__item">
  <a class="govuk-service-navigation__link" href="site-map">
    Site map
  </a>
</li>
<li class="govuk-service-navigation__item">
<a class="govuk-service-navigation__link" href="archived-designs">
  Archived
</a>
</li>
      </ul>
    </nav>
  </div>
</div>
</div>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--invisible">

<h2 class="govuk-heading-l">Error designs</h2>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<p class="govuk-body">
  These are messages that the user gives information that we are not able to use, such as an invalid National Insurance number or submitting forms with blank field inputs.
</p>

<p class="govuk-body">
  For now please refer to Confluence for all information regarding errors.
</p>

<h3 class="govuk-heading-s">Input errors</h3>

<p class="govuk-body">
  <a class="govuk-link" href="https://dwpdigital.atlassian.net/wiki/spaces/IDNT/pages/134243844758/Validation+errors+in+progress" target="_blank">Confluence page listing input errors</a>
</p>

<h3 class="govuk-heading-s">Technical errors</h3>

<p class="govuk-body">
  <a class="govuk-link" href="https://dwpdigital.atlassian.net/wiki/spaces/IDNT/pages/134225332325/Back+button+error" target="_blank">Confluence page listing technical errors (only back button error at present)</a>
</p>

<h3 class="govuk-heading-s">Back button error page</h3>

<ul class="govuk-list govuk-list--bullet">
  <li>
    <a class="govuk-link" href="/v6-1/errors/technical-errors/you-cannot-go-back-to-previous-page">You cannot go back to the previous page</a>
  </li>
</ul>

{% endblock %}
