{% extends "layouts/main.html" %}

{% block pageTitle %}
  Agent-led IDV – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <h1 class="govuk-heading-xl">Identity Checker tool</h1>

    <p class="govuk-body">
      While in Alpha the aim of an Identity Checker minimum viable product (MVP) is give DWP agents a digital tool to better deliver business compliant identity Verification when dealing with claimants over different channels.
    </p>

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

    <h2 class="govuk-heading-l">Design progress</h2>

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

    <div><strong class="govuk-tag govuk-tag--purple">Iteration 1</strong><strong class="govuk-tag govuk-tag--yellow">Workshop 1</strong> <strong class="govuk-tag govuk-tag--blue">Completed</strong></div>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--invisible">

    <div>
            <span class="govuk-caption-m">September 2025</span>
          <h1 class="govuk-heading-m">Workshop 1 - Concepts</h1>
        </div>

    <p class="govuk-body">
      Usability workshops with DWP agents.
    </p>

        <details class="govuk-details govuk-!-margin-bottom-0">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text govuk-!-font-weight-bold">
              UR reports and design documents
            </span>
          </summary>
          <div class="govuk-details__text">
            <!-- goal -->
            <h3 class="govuk-heading-m">Research goal</h3>
            <!-- <p class="govuk-body">We researched with ESA Agents, PIP case workers, Assistive Technology team DWP colleagues</p> -->
            <p class="govuk-body">In this round, we wanted to understand if:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>Whether the concept of a guided user interface could/would be used by agents in live work.</li>
              <li>Test perceived value for consistency, compliance and the overall usefulness of such a tool.</li>
              <li>Understand work set-ups and systems to inform how this tool could fit into their workflow.</li>
              <li>Explore current behaviour around fraud indicators and risk.</li>
            </ul>
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Lucid flows
                </dt>
                <dd class="govuk-summary-list__value">
                  <a class="govuk-link" href="https://lucid.app/lucidspark/b985d532-1e77-4f34-aa8c-670dd0d2d9aa/edit?view_items=5eTQGV5uihh7&invitationId=inv_a753613e-c34b-4df6-9401-b723617cb020" rel="noreferrer noopener" target="_blank">Screenshot on lucid<span class="govuk-visually-hidden"> of prototype flow</span></a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Design documentation
                </dt>
                <dd class="govuk-summary-list__value">
                  <a class="govuk-link" href="https://dwpdigital.atlassian.net/wiki/spaces/IDNT/pages/134000214878/Design+decisions#UR-workshops-log">V1 Workshop 1<span class="govuk-visually-hidden"> of prototype flow</span></a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Research documents
                </dt>
                <dd class="govuk-summary-list__value">
                  <a class="govuk-link" href="https://dwpdigital.atlassian.net/wiki/spaces/IDNT/pages/134000674576/Guided+UI+V1+-+Concept+Research+Results">Guided UI V1 - Concept Research Results<span class="govuk-visually-hidden"> of prototype flow</span></a>
                </dd>
              </div>
            </dl>
          </div>
        </details>

        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

        <div><strong class="govuk-tag govuk-tag--purple">Iteration 1</strong><strong class="govuk-tag govuk-tag--yellow">Design</strong> <strong class="govuk-tag govuk-tag--blue">In progress</strong></div>

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--invisible">

      <div>
          <span class="govuk-caption-m">September 2025</span>
          <h1 class="govuk-heading-m">Guided Light UI v1.0</h1>
        </div>

      <p class="govuk-body">
        Our design thinking has started with how a stand alone light touch guided UI can support compliance with the IDV operational instructions. Work is ongoing whether this journey will be iterated or that we will move onto a more feature rich tool.
      </p>

      <h2 class="govuk-heading-s">We will focusing on the following:</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>Linear checklist view of the IDV process broken into sequential stages</li>
        <li>Explain what is matching or establishing identity</li>
        <li>Static text guidance for what to do step by step</li>
        <li>Embedded policy reminders or tooltips that reinforce importance of IDV</li>
        <li>Guidance links for more complex scenarios (not in scope V1.0)</li>
        <li>Checkboxes for personal tracking to remind that each stage is done (but not stored)</li>
        <li>Critical messaging to the users, interruption pages or notifications</li>
      </ul>

    {{ govukButton({
      text: "Start prototype",
      href: '/path1/start'
    }) }}

  <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


{% endblock %}
