{% extends "layouts/main.html" %}

{% block pageTitle %}
  Identity Checker Internal Prototype
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl">Identity Checker
      </h1>

      <div class="govuk-service-navigation"
      data-module="govuk-service-navigation">
      <div class="govuk-width-container">
        <div class="govuk-service-navigation__container">
          <nav aria-label="Menu" class="govuk-service-navigation__wrapper">
            <button type="button" class="govuk-service-navigation__toggle govuk-js-service-navigation-toggle" aria-controls="navigation" hidden aria-hidden="true">
              Menu
            </button>
      <ul class="govuk-service-navigation__list" id="navigation">
        <li class="govuk-service-navigation__item govuk-service-navigation__item--active">
      <a class="govuk-service-navigation__link" href="#">
        Home
      </a>
      </li>
      <li class="govuk-service-navigation__item">
      <a class="govuk-service-navigation__link" href="iterations">
        Previous iterations
      </a>
      </li>
      <li class="govuk-service-navigation__item">
      <a class="govuk-service-navigation__link" href="error-designs">
        Error designs
      </a>
      </li>
      <li class="govuk-service-navigation__item">
      <a class="govuk-service-navigation__link" href="design-problems">
        Design problems
      </a>
      </li>
      <li class="govuk-service-navigation__item">
      <a class="govuk-service-navigation__link" href="site-map">
        Site map
      </a>
      </li>
      <li class="govuk-service-navigation__item">
      <a class="govuk-service-navigation__link" href="archived-designs">
        Archived
      </a>
      </li>
            </ul>
          </nav>
        </div>
      </div>
      </div>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--invisible">

      <h2 class="govuk-heading-l">Overview</h2>

      <p class="govuk-body">
        The aim of Identity Checker is to give DWP agents across service lines a digital tool to better deliver business compliant identity Verification when dealing with claimants over different channels. While in <strong>Alpha</strong> we are working towards defining which solution we will take forward as our minimum viable product (MVP).
      </p>

      <div class="govuk-inset-text">
      Although we try to cover all paths throughout the prototype, as its constantly being worked on, some links may be broken or parts of the prototype not work as expected.
      </div>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <!-- Iteration v6-1 for MVP -->

      <h3 class="govuk-heading-m">Latest prototype version</h3>

      <p class="govuk-body">
        The prototype below represents our MVP canident. Please follow the accompanying instructions on how to simulate different versions of the IDV flow. Success or fail will be determined by how you answer the questions using the dummy data.
      </p>

      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text govuk-!-font-weight-bold">
            Important instructions for matching dummy data
          </span>
        </summary>
        <div class="govuk-details__text">
          <!-- goal -->
          <h3 class="govuk-heading-s">Nino for standard IDV path</h3>
          <ul class="govuk-list govuk-list--bullet">
            <li>QQ 12 34 56 C</li>
          </ul>
          <h3 class="govuk-heading-s">Nino for fraud flag found path</h3>
          <ul class="govuk-list govuk-list--bullet">
            <li>QQ 44 44 44 C</li>
          </ul>
          <h3 class="govuk-heading-s">Nino for no KBV path</h3>
          <ul class="govuk-list govuk-list--bullet">
            <li>QQ 33 33 33 C</li>
          </ul>
          <h3 class="govuk-heading-s">To match a record successfully by name, dob, postcode</h3>
          <ul class="govuk-list govuk-list--bullet">
            <li>Albus Dumbledore, Severus Snape, Romilda Vane</li>
          </ul>
          <ul class="govuk-list govuk-list--bullet">
            <li>5-1-1978, 9-1-1960, 13-2-1981</li>
          </ul>
          <ul class="govuk-list govuk-list--bullet">
            <li>PE1 6AN, SW1 1AA, M1 1AA</li>
          </ul>
          <h3 class="govuk-heading-s">To get a no match by nino or name, dob, postcode</h3>
          <ul class="govuk-list govuk-list--bullet">
            <li>You can just use any other details than above</li>
          </ul>
          <h3 class="govuk-heading-s">To get error pages</h3>
          <ul class="govuk-list govuk-list--bullet">
            <li>No error pages linked up at present</li>
          </ul>
        </div>
      </details>

      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text govuk-!-font-weight-bold">
            Important instructions for option KBV questions
          </span>
        </summary>
        <div class="govuk-details__text">
          <!-- goal -->
          <h3 class="govuk-heading-s">To view success after two correct questions only</h3>
          <ul class="govuk-list govuk-list--bullet">
            <li>Q1 - Select <strong>correct</strong> benefit, Job seekers allowance</li>
            <li>Q2 - Enter <strong>correct</strong> date 25-10-2025</li>
            <li>Customer <strong>verified</strong></li>
          </ul>
          <h3 class="govuk-heading-s">To view success after two from three correct questions</h3>
          <ul class="govuk-list govuk-list--bullet">
            <li>Q1 - Select <strong>correct</strong> benefit, Job seekers allowance</li>
            <li>Q2 - Enter <strong>incorrect</strong> date such as 12-11-2023</li>
            <li>Q3 - Enter <strong>correct</strong> mobile number 07123456789 (allows for spaces)</li>
            <li>Customer <strong>verified</strong></li>
          </ul>
          <h3 class="govuk-heading-s">To view failure after two from three incorrect questions</h3>
          <ul class="govuk-list govuk-list--bullet">
            <li>Q1 - Select <strong>correct</strong> benefit, Job seekers allowance</li>
            <li>Q2 - Enter <strong>incorrect</strong> date such as 12-11-2023</li>
            <li>Q3 - Enter <strong>incorrect</strong> mobile number such as 07581234560 (allows for spaces)</li>
            <li>Customer <strong>not</strong> verified</li>
          </ul>
        </div>
      </details>

      <a href="/v6-1/reset-session" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
        Start prototype v6.1
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
        </svg>
      </a>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h3 class="govuk-heading-s">Protoype quick links</h3>

      <p class="govuk-body">
        You can pre-fill the nino input on the start page using the links below.
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a class="govuk-link" href="/v6-1/establish-identity/what-is-your-national-insurance-number?nationalinsurancenumber=QQ123456C">Standard IDV path - Albus Dumbledore - QQ 12 34 56 C</a>
        </li>
        <li>
          <a class="govuk-link" href="/v6-1/establish-identity/what-is-your-national-insurance-number?nationalinsurancenumber=QQ444444C">Fraud flag found - Severus Snape - QQ 44 44 44 C</a>
        </li>
        <li>
          <a class="govuk-link" href="/v6-1/establish-identity/what-is-your-national-insurance-number?nationalinsurancenumber=QQ333333C">No KBVs available - Romilda Vane - QQ 33 33 33 C</a>
        </li>
      </ul>

      <h3 class="govuk-heading-s">Site map</h3>

      <ul class="govuk-list">
      <li>
        <a class="govuk-link" href="site-map">Page with all individual page links</a>
      </li>
      </ul>

    <!-- End of V6-1 -->

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h3 class="govuk-heading-s">Other project artefacts</h3>

      <ul class="govuk-list">
        <li>
          <a class="govuk-link" href="#">Show and tells</a>
        </li>
        <li>
          <a class="govuk-link" href="#">Confluence space</a>
        </li>
        <li>
          <a class="govuk-link" href="#">Design documentation</a>
        </li>
        <li>
          <a class="govuk-link" href="#">Journey maps</a>
        </li>
      </ul>

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

    </div>
  </div>

{% endblock %}
