{% extends "layouts/main.html" %}

{% block pageTitle %}
  Site map – {{ serviceName }}
{% endblock %}

{% block content %}

<h1 class="govuk-heading-xl">Identity Checker</h1>

<div class="govuk-service-navigation" data-module="govuk-service-navigation">
  <div class="govuk-width-container">
    <div class="govuk-service-navigation__container">
      <nav aria-label="Menu" class="govuk-service-navigation__wrapper">
        <button type="button"
          class="govuk-service-navigation__toggle govuk-js-service-navigation-toggle"
          aria-controls="navigation"
          hidden
          aria-hidden="true">
          Menu
        </button>

        <ul class="govuk-service-navigation__list" id="navigation">
          <li class="govuk-service-navigation__item">
            <a class="govuk-service-navigation__link" href="index">Home</a>
          </li>
          <li class="govuk-service-navigation__item">
            <a class="govuk-service-navigation__link" href="iterations">Previous iterations</a>
          </li>
          <li class="govuk-service-navigation__item">
            <a class="govuk-service-navigation__link" href="error-designs">Error designs</a>
          </li>
          <li class="govuk-service-navigation__item">
            <a class="govuk-service-navigation__link" href="design-problems">Design problems</a>
          </li>
          <li class="govuk-service-navigation__item govuk-service-navigation__item--active">
            <a class="govuk-service-navigation__link" href="">Site map</a>
          </li>
          <li class="govuk-service-navigation__item">
            <a class="govuk-service-navigation__link" href="archived-designs">Archived</a>
          </li>
        </ul>

      </nav>
    </div>
  </div>
</div>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--invisible">

<h2 class="govuk-heading-l">Site map</h2>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<p class="govuk-body">
  These pages have been signed off by the team and are considered ready for development.
</p>

<p class="govuk-body">
  Also please refer to the content record in Confluence which further details all parts of each page.
</p>

<p class="govuk-body">
  <a class="govuk-link" href="https://dwpdigital.atlassian.net/wiki/spaces/IDNT/pages/134269699045/Content+record" target="_blank">Confluence content record</a>
</p>

<div class="govuk-inset-text">
  Please use these links for reference only and use the main prototype journey from the homepage to explore the Identity Checker journeys.
</div>

<!-- Establish identity -->
<h2 class="govuk-heading-s">Establish identity</h2>
<ul class="govuk-list govuk-list--bullet">
  <li>
    <a class="govuk-link" href="/v6-1/establish-identity/what-is-your-national-insurance-number.html">
      What is your National Insurance number?
    </a>
  </li>
    <li>
      <a class="govuk-link" href="/v6-1/establish-identity/search-for-your-details-another-way">
        I need to search for your details (name, dob, postcode)
      </a>
    </li>
    <li>
    <a class="govuk-link" href="/v6-1/establish-identity/check-correct-record.html">
      I need to check that I have found the correct record
    </a>
  </li>
  <li>
    <a class="govuk-link" href="/v6-1/establish-identity/found-your-customer-record.html">
      I have found your customer record
    </a>
  </li>
  <li>
    <a class="govuk-link" href="/v6-1/establish-identity/no-customer-record-found.html">
      No customer record found
    </a>
  </li>
  <li>
    <a class="govuk-link" href="/v6-1/establish-identity/no-match-found.html">
      No match found
    </a>
  </li>
  <li>
    <a class="govuk-link" href="/v6-1/establish-identity/search-for-your-customer-record.html">
      I will try to search for your customer record
    </a>
  </li>
</ul>

<!-- Counter fraud -->
<h2 class="govuk-heading-s">Counter fraud checks</h2>
<ul class="govuk-list govuk-list--bullet">
  <li>
    <a class="govuk-link" href="/v6-1/counter-fraud-checks/bring-up-security-questions-single.html">
      Waiting for the system to bring up security questions (single flag)
    </a>
  </li>
  <li>
    <a class="govuk-link" href="/v6-1/counter-fraud-checks/bring-up-security-questions-multiple.html">
      Waiting for the system to bring up security questions (multiple flags)
    </a>
  </li>
</ul>

<!-- KBV -->
<h2 class="govuk-heading-s">KBV questions (TBD for MVP)</h2>
<ul class="govuk-list govuk-list--bullet">
  <li>
    <a class="govuk-link" href="/v6-1/kbv-questions/another-benefit-you-have-previously-applied-for">
      Can you name another benefit you have previously applied for?
    </a>
  </li>
  <li>
    <a class="govuk-link" href="/v6-1/kbv-questions/when-did-you-receive-your-last-payment">
      When did you receive your last payment?
    </a>
  </li>
  <li>
    <a class="govuk-link" href="/v6-1/kbv-questions/what-is-your-mobile-telephone-number">
      What is your mobile telephone number?
    </a>
  </li>
</ul>


<!-- IDV outcomes -->
<h2 class="govuk-heading-s">IDV outcomes</h2>
<ul class="govuk-list govuk-list--bullet">
  <li>
    <a class="govuk-link" href="/v6-1/idv-outcomes/you-have-proved-your-identity">
      You have proved your identity
    </a>
  </li>
  <li>
    <a class="govuk-link" href="/v6-1/idv-outcomes/you-have-not-proved-your-identity">
      You have not proved your identity
    </a>
  </li>
  <li>
    <a class="govuk-link" href="/v6-1/idv-outcomes/you-have-answered-the-security-questions">
      You have answered the security questions
    </a>
  </li>
  <li>
    <a class="govuk-link" href="/v6-1/idv-outcomes/you-have-not-passed-the-security-questions">
      You have not passed the security questions
    </a>
  </li>
</ul>


<!-- No KBV -->
<h2 class="govuk-heading-s">No KBV path</h2>
<ul class="govuk-list govuk-list--bullet">
  <li>
    <a class="govuk-link" href="/v6-1/no-kbv/find-some-security-questions-to-ask-you">
      I am now going to find some security questions
    </a>
  </li>
  <li>
    <a class="govuk-link" href="/v6-1/no-kbv/i-should-have-some-questions-for-you-soon">
      I should have some questions for you soon
    </a>
  </li>
</ul>

<!-- Other pages -->
<h2 class="govuk-heading-s">Other pages</h2>
<ul class="govuk-list govuk-list--bullet">
  <li>
    <a class="govuk-link" href="/v6-1/end/end-session">Are you sure you want to end this session?</a>
  </li>
    <li>
      <a class="govuk-link" href="/v6-1/errors/technical-errors/you-cannot-go-back-to-previous-page">You cannot go back to the previous page (back button error)</a>
    </li>
    <li>
      <a class="govuk-link" href="/v6-1/no-kbv/unable-to-complete-the-security-check">
        I am unable to complete the security check
      </a>
    </li>
</ul>


{% endblock %}
