{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "internal-service-header/macro.njk" import dwpHeader %}
{% from "internal-service-footer/macro.njk" import dwpFooter %}
{% from "key-details-bar/macro.njk" import dwpKeyDetailsBar %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}


{% block header %}

{{
    dwpHeader({
        serviceName: "Agent Led IDV",
        serviceHref: '#',
        container: true,
        navigation: {
          items: [
              {
                  href: "#",
                  text: "Find someone"
              },
              {
                  href: "#",
                  text: "Tasks"
              },
              {
                  href: "#",
                  text: "Telephone claim"
              },
              {
                  href: "#",
                  text: "Paper claim"
              },
              {
                  href: "#",
                  text: "Admin"
              }
          ]
      }
    })
}}


{% block footer %}

{{
    dwpFooter({
        meta: {
            visuallyHiddenTitle: "About this website",
            items: [
            {
                href: "",
                text: "Accessibility statement"
            },
            {
                href: "/contact-dwp-support",
                text: "Contact support (opens in a new tab)"
            },
            {
                href: "",
                text: "Privacy"
            },
            {
                href: "/manage-prototype/clear-data",
                text: "Clear data"
            }
            ]
        }
    })
}}

    {% endblock %}
