{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "internal-service-header/macro.njk" import dwpHeader %}
{% from "internal-service-footer/macro.njk" import dwpFooter %}
{% from "key-details-bar/macro.njk" import dwpKeyDetailsBar %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{% block header %}

{{
    dwpHeader({
        serviceName: "Agent Led IDV",
        serviceHref: '/index',
        container: true
    })
}}

{{
    dwpKeyDetailsBar({
        primaryIdentifier: {
            text: 'Name:',
            value: 'John Smith'
        },
        secondaryIdentifier: {
            text: 'Component:',
            value: 'QQ 39 56 20'
        },
        status: {
            text: 'Claim status:',
            value: 'IDV Not verified',
            classes: 'govuk-tag--blue'
        },
        additionalData: [
        {
            text: "Fraud markers:",
            value: "No"
        },
        {
            text: "Previously called:",
            value: "Yes"
        },
        {
            text: "Other:",
            value: "Content"
        }
        ]
    })
}}

{% endblock %}

{% block beforeContent %}

{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a prototype and should not be used as a real service</a>.'
}) }}

{{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}


{% block footer %}

{{
    dwpFooter({
        meta: {
            visuallyHiddenTitle: "About this website",
            items: [
            {
                href: "",
                text: "Accessibility statement"
            },
            {
              href: "/manage-prototype",
              text: "Manage prototype"
            },
            {
                href: "",
                text: "Privacy"
            },
            {
                href: "/manage-prototype/clear-data",
                text: "Clear data"
            }
            ]
        }
    })
}}

    {% endblock %}
