{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "internal-service-header/macro.njk" import dwpHeader %}
{% from "internal-service-footer/macro.njk" import dwpFooter %}
{% from "key-details-bar/macro.njk" import dwpKeyDetailsBar %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

{% block header %}

<header class="dwp-header">
    <div class="dwp-header__content govuk-width-container">
      <div class="dwp-header__service-name">
        <a href="/index" class="dwp-header__link">Identity Checker</a>
      </div>
  </div>

  <section class="dwp-key-details-bar" aria-label="Key details" data-landmark-index="2">
    <div class="dwp-key-details-bar__key-details">
      <dl class="dwp-key-details-bar__top-block">
          <dt class="govuk-visually-hidden">Name:</dt>
          <dd class="dwp-key-details-bar__primary">Albus Dumbledore</dd>
          <dt class="govuk-visually-hidden">National insurance number</dt>
          <dd class="dwp-key-details-bar__secondary">QQ 12 34 56 X</dd>
          <!--<dt class="govuk-visually-hidden">Customer status</dt>
          <dd class="dwp-key-details-bar__status">
            <strong class="govuk-tag dwp-key-details-bar__status--dwp-default">
              Vulnerable</strong>
          </dd>-->
      </dl>
    </div>
  </section>
</header>


{% endblock %}

{% block beforeContent %}

{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a prototype and should not be used as a real service</a>.'
}) }}

{% endblock %}


{% block footer %}

{{
    dwpFooter({
        meta: {
            visuallyHiddenTitle: "About this website",
            items: [
            {
                href: "",
                text: "Accessibility statement"
            },
            {
              href: "/manage-prototype",
              text: "Manage prototype"
            },
            {
                href: "",
                text: "Privacy"
            },
            {
                href: "/manage-prototype/clear-data",
                text: "Clear data"
            }
            ]
        }
    })
}}

    {% endblock %}
