{% extends "v6-1/layouts/main_matching.html" %}
{% set hideEndSession = true %}

{% block pageTitle %}
  You cannot go back to the previous page – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

      <h1 class="govuk-heading-l">
        Sorry, the service is currently unavailable
      </h1>

      <p class="govuk-body">I am going to find some questions to ask you, so I can complete the security check.</p>

      <div class="govuk-inset-text colour-blue">

        <h2 class="govuk-heading-m">
          What you should do next
        </h2>

        <ul class="govuk-list govuk-list--number">
          <li>Use DWP systems to help you ask security questions.</li>
          <li>Return to the tool for your next call to see if the issue has been resolved.</li>
        </ul>

      </div>

      {{ govukButton({
        text: "Reset Identity Checker",
        href: "/v6-1/reset-session"
      }) }}

  </div>

{% endblock %}
